$colour-blue: #0057b8;
$colour-blue-dark: darken($colour-blue, 10%);
$colour-blue-light: lighten($colour-blue, 20%);
$colour-blue-pale: lighten($colour-blue, 60%);
$colour-white: #fff;
$colour-yellow: darken(#fecb51, 10%);
