$header-font: 'Oswald', sans-serif;
$body-font: 'Rubik', sans-serif;

h1,
h2,
h3 {
  font-family: $header-font;
}

p,
a,
li {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  word-break: normal;
  margin-bottom: 20px;
  font-weight: bold;
}

h1 {
  font-size: 1.9em;
  line-height: 1.2em;

  @media #{$from-medium} {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.9em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.2em;
}

body, table.body, p, td, li {
  font-size: 16px;
  line-height:24px;
}

p,
a,
li {
  font-size: 20px;
  line-height: 27px;
}

p {
  margin-bottom: 16px;
}

a {
  color: $colour-blue;
  text-decoration: none;
  transition: 0.8s;
}

a:hover {
  color: $colour-yellow;
}

img {
  width: 100%;
}

blockquote {
  background-color: $colour-blue-pale;
  padding: 12px 3px 1px 8px;
  margin: 20px 0;
  border-left: 5px solid $colour-blue;
}

.bullets {
  list-style-type: circle;

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}
