%header
  .m-navbar__mobile
    .m-navbar__menu-button
      %a.js-reveal__trigger{:href => "#"}
        Menu
        %i.fa.fa-plus
    %ul.m-navbar.js-reveal__hidden
      %li
        %a{:href => "/about.html"}
          About
      %li
        %a{:href => "/"}
          Articles
      %li
        %a{:href => "/quotes.html"}
          Quotes

  %ul.m-navbar.m-navbar--desktop
    %li
      %a{:href => "/about.html", class: ('selected' if current_page.path == 'about.html') }
        About
    %li
      %a{:href => "/", class: ('selected' if current_page.path == 'index.html') }
        Articles
    %li
      %a{:href => "/quotes.html", class: ('selected' if current_page.path == 'quotes.html') }
        Quotes

