%header
  .m-navbar__mobile
    .m-navbar__menu-button
      %a.js-reveal__trigger{:href => "#"}
        Menu
        %i.fa.fa-plus
    %ul.m-navbar.js-reveal__hidden
      %li
        %a{:href => "/about.html"}
          %i.fa.fa-user-circle
          About
      %li
        %a{:href => "/"}
          %i.fa.fa-pencil
          Articles
      %li
        %a{:href => "/quotes.html"}
          %i.fa.fa-quote-left
          Quotes

  %ul.m-navbar.m-navbar--desktop
    %li
      %a{:href => "/about.html"}
        %i.fa.fa-user-circle
        About
    %li
      %a{:href => "/"}
        %i.fa.fa-pencil
        Articles
    %li
      %a{:href => "/quotes.html"}
        %i.fa.fa-quote-left
        Quotes

