%section.a-section.a-section--intro
  .a-content
    .a-intro
      .a-intro__image
        %img{src: '/img/steve.jpg'}
      .a-intro__name
        %h1 Steve Brewer
        %h2 Ruby Developer

        .a-social-icons
          %a{:href => "https://twitter.com/svpersteve", :target => "_blank"}
            %i.fa.fa-twitter
          %a{:href => "https://linkedin.com/in/svpersteve", :target => "_blank"}
            %i.fa.fa-linkedin
          %a{:href => "https://github.com/svpersteve", :target => "_blank"}
            %i.fa.fa-github
          %a{:href => "https://instagram.com/_stevebrewer_", :target => "_blank"}
            %i.fa.fa-instagram
          %a{:href => "mailto:steve.v.brewer@gmail.com?subject=Enquiry", :target => "_blank"}
            %i.fa.fa-envelope
