header {
  background-color: $colour-blue;

  a {
    font-family: $header-font;
    color: $colour-white;
  }

  a:hover {
    color: $colour-white;
  }
}

.m-navbar__menu-button {
  text-align: center;
  padding: 20px;

  a {
    display: block;
  }
}

.m-navbar {
  display: none;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .selected {
    border-bottom: solid 1px $colour-white;
  }

  a {
    font-size: .9em;
    border-bottom: solid 1px $colour-blue;
    padding-bottom: 2px;
  }

  a:hover {
    border-bottom: solid 1px $colour-white;
  }

  li {
    margin-bottom: 15px;

    @media #{$from-medium} {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  i,
  img {
    display: none;
  }

  @media #{$from-medium} {
    flex-direction: row;
    display: flex;

    li {
      margin-bottom: 0;
    }

    i {
      display: inline-block;
      margin-right: 5px;
      position: relative;
      bottom: 0.10em;
    }

    img {
      margin-left: 5px;
      display: inline-block;
    }

    img {
      width: 45px;
    }
  }
}

.m-navbar__mobile {
  @media #{$from-medium} {
    display: none;
  }
}

.m-navbar__desktop {
  @media #{$to-medium} {
    display: none;
  }
}
