header {
  background-color: $colour-blue;

  a {
    font-family: $header-font;
    color: $colour-white;
  }

  a:hover {
    color: $colour-yellow;
  }
}

.m-navbar__menu-button {
  text-align: center;
  padding: 20px;

  a {
    display: block;
  }
}

.m-navbar {
  display: none;
  font-size: 1.5em;

  padding: 15px 30px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  li {
    margin-bottom: 15px;
  }

  i,
  img {
    display: none;
  }

  @media #{$from-medium} {
    flex-direction: row;
    display: flex;

    li {
      margin-bottom: 0;
    }

    i {
      display: inline-block;
      margin-right: 5px;
      position: relative;
      bottom: 0.10em;
    }

    img {
      margin-left: 5px;
      display: inline-block;
    }

    img {
      width: 45px;
    }
  }
}

.m-navbar__zap {
  color: $colour-yellow;
}

.m-navbar__mobile {
  @media #{$from-medium} {
    display: none;
  }
}

.m-navbar__desktop {
  @media #{$to-medium} {
    display: none;
  }
}
