.m-page {
  img {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin: 40px auto 0;
  }

  iframe {
    margin-top: 20px;
  }
}

.m-page__section {
  margin-bottom: 80px;
}

.m-page__image {
  text-align: center;
  max-width: 150px;
  max-height: 100px;
  padding: 30px;
}
