.m-post {
  margin-bottom: 50px;

  i {
    margin-right: 5px;
    position: relative;
    bottom: 0.10em;
  }
}

.m-post__meta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  h3 {
    margin-right: 20px;
  }

  i {
    margin-right: 5px;
    position: relative;
    bottom: 0.10em;
  }
}
