.a-content {
  max-width: 40em;
  margin: 0 auto;
  padding: 10px 0;
}

.a-content--title {
  max-width: 60em;
  margin: 20px auto 0;
  padding: 20px 0 40px;
  text-align: center;

  @media #{$from-medium} {
    h1 {
      font-size: 4em;
    }

    h3 {
      font-size: 2em;
    }
  }
}

.a-content--wide {
  max-width: 60em;
}
