.a-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  text-align: center;

  h1,
  h2 {
    margin: 0;
    cursor: default;
  }

  img {
    border-radius: 50%;
    border: 1px solid $colour-blue;
    width: 150px;

    @media #{$from-medium} {
      margin-right: 25px;
      margin-top: 10px;
    }
  }

  @media #{$from-medium} {
    flex-direction: row;
    text-align: left;
  }
}
