$page-padding: 16px;

.a-section {
  overflow: hidden;
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.a-section--intro {
  background-color: $colour-blue-pale;
  margin-bottom: 50px;
  border-bottom: solid 8px $colour-blue;
}
