---
title: About
---

%section.a-section
  .a-content--title
    %h1 About me

%section.a-section
  .a-content
    .m-page
      .m-page__section

        %h3
          %i.fa.fa-star
          Positivity

        %p I'm highly positive, patient and nurturing of others. When coaching, I adopt a student-focused approach to learning that's built on encouraging choice and autonomy, highly rewarding environments that engage the brain for learning and encourage behaviours that offer the student the best opportunity to shine in their own unique way.

        %h3
          %i.fa.fa-star
          Behaviour

        %p I believe all people, adults and children, are innately good, and any disruptive behaviours have a reason behind them. The key to resolving disruptive behaviours is to identify and work on that reason, rather than reacting to the behaviour itself. A proactive approach is always more effective than a reactive one.

        %h3
          %i.fa.fa-star
          Achievement

        %p I believe good habits are the key to success, and if we focus our will power on adopting good habits through the use of cues and rewards, then activities gradually require less willpower to complete. I use daily goals to help me make good habits as a motivational tool that guides me in the direction I want to head in. It’s important to choose your own goals so you feel in control, and the sense of achievement when you accomplish those goals motivates you. I use this approach with myself and for coaching others.

      .m-page__section

        %h3 May 2016 - Present
        .center
          %a{:href => "http://futurelearn.com", :target => "_blank"}
            %img.m-page__image{:alt => "Futurelearn logo", :src => "../img/futurelearn.svg"}

        %p FutureLearn is a world leader in online learning delivered by universities. Owned by the Open University and founded in London in December 2012, we have over 5 million learners globally.

        %p I work on the degrees time building the new postgraduate degrees we'll be launching this year in partnership with Deakin University, Australia. I also support the back end team in maintaining and implementing features, fixing bugs, collaborating with others across departments and offering tech support company-wide.

        %p FutureLearn is built with Ruby on Rails and uses HAML and SASS on the front end. We work with Agile for real-time feedback from users to shape our product. We use behaviour driven development and our codebase is efficiently modular and scalable.

      .m-page__section
        %h1 Education

        %h3 August 2015 - April 2016
        .center
          %a{:href => "http://treehouse.7eer.net/c/248218/228915/3944", :target => "_blank"}
            %img.m-page__image{:alt => "Treehouse logo", :src => "../img/treehouse.png"}

        %p I learned my initial front end skills with Treehouse, who have a fantastic and highly addictive learning platform.

        %p In January I enrolled on the Front End Techdegree and used my first three projects in my interview at FutureLearn, where I was offered my first developer role.

        %p
          In May, Treehouse CEO Ryan Carson
          %a{:href => "https://twitter.com/ryancarson/status/742751774939873280", :target => "_blank"} interviewed
          me after hearing about securing my first role. I was also
          %a{:href => "http://blog.teamtreehouse.com/from-teaching-assistant-to-front-end-developer-an-interview-with-techdegree-student-steve-brewer", :target => "_blank"} featured
          on their blog.

        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "https://www.youtube.com/embed/xXD4CCkto6c", :width => "100%"}

      .m-page__section
        %h3 October 2012 - July 2015
        .center
          %a{:href => "http://open.ac.uk", :target => "_blank"}
            %img.m-page__image{:alt => "The Open University", :src => "../img/ou.png"}

        %p While working full-time as a teaching assistant in a special needs school, I also studied full time. My degree is an Open degree, and I chose the modules that best suited my needs.

        %p I took the following units:

        %ul
          %li
            %i.fa.fa-graduation-cap
            Level 1: Credit transfer from City University London
          %li
            %i.fa.fa-graduation-cap
            Level 2:
            %a{:href => "http://www.open.ac.uk/library/digital-archive/module/xcri:ED209/study", :target => "_blank"} Child Development
          %li
            %i.fa.fa-graduation-cap
            Level 2:
            %a{:href => "http://www.open.ac.uk/courses/modules/k218", :target => "_blank"} Working with Children, Young People and Families
          %li
            %i.fa.fa-graduation-cap
            Level 3:
            %a{:href => "http://www.open.ac.uk/courses/modules/ea300", :target => "_blank"} Children's Literature
          %li
            %i.fa.fa-graduation-cap
            Level 3:
            %a{:href => "http://www.open.ac.uk/courses/modules/ek313", :target => "_blank"} Issues in Research with Children and Young People

      .m-page__section
        %h3 September 2010 - July 2011
        .center
          %a{:href => "http://city.ac.uk", :target => "_blank"}
            %img.m-page__image{:alt => "City University London", :src => "../img/city.png"}

        %p I came to London to study Journalism and Sociology, and accepted a place on City University's prestigious Journalism program, with aspirations of becoming the John Pilger of my generation.

        %p Sadly, after finding Sociology verbose, and Journalism comfortably pragmatic, I decided to drop Sociology and chose a full Journalism degree. This, I hadn't realised at the time, dropped me in at the deepend by forcing me to take the TV and radio units I had strategically avoided the previous year, but forgotten about.

        %p My confidence was growing, but I was still too shy to be a public speaker. I panicked and withdrew, fleeing to the safety of a teaching assistant position at Mandeville before transferring to the Open University.

        %p I took the following units at City:

        %ul
          %li
            %i.fa.fa-graduation-cap
            Level 1: Introduction to Journalism
          %li
            %i.fa.fa-graduation-cap
            Level 1: History of Journalism
          %li
            %i.fa.fa-graduation-cap
            Level 1: Introduction to Sociology
          %li
            %i.fa.fa-graduation-cap
            Level 1: Understanding the Modern World

      .m-page__section
        %h1 Past Experience

        %h3 January - May 2016
        .center
          %a{:href => "http://www.tolworthgirlsschool.co.uk/", :target => "_blank"}
            %img.m-page__image{:alt => "Tolworth Girls School", :src => "../img/tolworth.png"}

        %p I had a wonderful opportunity to empower young future leaders at Tolworth Girls School while working with pupils with Specific
        Language Impairment. The transition from primary special needs to mainstream secondary was terrifying, but that's why I did it, and my apprehension was unnecessary.

        %p Tolworth inspired my curiosity for public speaking after I agreed to give a talk on a book I had read to a class of 30 year 7 girls. The girls had so many questions and one of them enthusiastically borrowed the book from the library straight after my talk. The joy of inspiring a young person to read is indiscribable.

      .m-page__section
        %h3 October 2012 - April 2015
        .center
          %a{:href => "http://mandeville.ealing.sch.uk", :target => "_blank"}
            %img.m-page__image{:alt => "Mandeville School", :src => "../img/mandeville.png"}

        %p Three of the best years of my life were spent working with truly inspiring children and their families. I supported a class teacher in directly teaching two children with Autism Spectrum Condition. This involved planning and delivering individual and whole class lessons, specialising in IT and speech and language therapy.

        %p Working with children with challenging behaviour has given me confidence to deal with conflict, and combined with my degree, a deeper understanding of human behaviour.
