---
title: Quotes
---

%section.a-section
  %h1.center Quotes

%section.a-section
  .a-content

    .m-quotes
      .center
        %h4 From Me
        %ul.m-quotes__mine
          %li Done is better than perfect
          %li Less is more
          %li Perspective is everything
          %li No problem is insurmountable
        %h4#change.m-quotes__title From Others

      .m-quotes__quote
        %p
          Don't ask what the world needs. Ask what makes you come alive, and go do it. Because what the world needs is people who have come alive.
        %p.m-quotes__author Howard Thurman
      %hr.m-quotes__break

      .m-quotes__quote
        %p
          Self-compassion involves wanting health and well-being for oneself and leads to proactive behaviour to better one's situation, rather than passivity.
        %p.m-quotes__author
          Kristin Neff,
          %a{:href => "http://amzn.to/2bI4iHb", :target => "_blank"} Self-compassion
      %hr.m-quotes__break

      .m-quotes__quote--long
        %p
          Holding back their ideas, holding back their contributions, holding back their leadership and their talents. Too many women still seem to believe that they are not allowed to put themselves forward at all, until both they and their work are perfect and beyond criticism.
        %p Meanwhile, putting forth work that is far from perfect rarely stops men from participating in the global cultural conversation. Just sayin’. And I don’t say this as a criticism of men, by the way. I like that feature in men—their absurd overconfidence, the way they will casually decide, “Well, I’m 41 percent qualified for this task, so give me the job!” Yes, sometimes the results are ridiculous and disastrous, but sometimes, strangely enough, it works—a man who seems not ready for the task, not good enough for the task, somehow grows immediately into his potential through the wild leap of faith itself.
        %p I only wish more women would risk these same kinds of wild leaps. But I’ve watched too many women do the opposite. I’ve watched far too many brilliant and gifted female creators say, “I am 99.8 percent qualified for this task, but until I master that last smidgen of ability, I will hold myself back, just to be on the safe side.”
        %p Now, I cannot imagine where women ever got the idea that they must be perfect in order to be loved or successful. (Ha ha ha! Just kidding! I can totally imagine: We got it from every single message society has ever sent us! Thanks, all of human history!) But we women must break this habit in ourselves—and we are the only ones who can break it.
        %p We must understand that the drive for perfectionism is a corrosive waste of time, because nothing is ever beyond criticism. No matter how many hours you spend attempting to render something flawless, somebody will always be able to find fault with it. (There are people out there who still consider Beethoven’s symphonies a little bit too, you know, loud.)
        %p
          At some point, you really just have to finish your work and release it as is—if only so that you can go on to make other things with a glad and determined heart. Which is the entire point. Or should be.
        %p.m-quotes__author
          Elizabeth Gilbert,
          %a{:href => "http://amzn.to/2c0IYyJ", :target => "_blank"} Big Magic: Creative Living Beyond Fear
      %hr.m-quotes__break

      .m-quotes__quote--long
        %p
          My friend took me to the most amazing place the other day. It’s called the Augusteum. Octavian Augustus built it to house his remains. When the barbarians came, they trashed it along with everything else. The great Augustus, Rome’s first true great Emperor, how could he have imagined that Rome, the whole world as far as he was concerned, would one day be in ruins?
        %p It’s one of the quietest and loneliest places in Rome. The city has grown up around it over centuries, feels like a precious wound, like a heartache you won’t let go of…as it hurts too good. We all want things to stay the same, David. Settle for living in misery because we’re afraid of change, of things crumbling to ruins.
        %p Then I looked around this place, at the chaos it’s endured, the way it’s been adapted, burnt, pillaged then found a way to build itself back up again and I was reassured. Maybe my life hasn’t been so chaotic, it’s just the world that is and the only real trap is getting attached to any of it.
        %p Ruin is a gift. Ruin is the road to transformation.
        %p
          Even in this eternal city, the Augusteum showed me that we must always be prepared for endless waves of transformation.
        %p.m-quotes__author
          Elizabeth Gilbert,
          %a{:href => "http://amzn.to/2bs2shs", :target => "_blank"} Eat Pray Love
      %hr.m-quotes__break
      .m-quotes__quote
        %p
          What's the answer [to insecurity]? To stop trying to label ourselves as "good" or "bad" and simply accept ourselves with an open heart. To treat ourselves with the same kindness, caring, and compassion we would show to a good friend, or even a stranger for that matter. Sadly, however, there's almost no one whom we treat as badly as ourselves.
        %p.m-quotes__author
          Kristin Neff,
          %a{:href => "http://amzn.to/2bI4iHb", :target => "_blank"} Self-compassion
      %hr.m-quotes__break
      .m-quotes__quote
        %p
          The hallmark of originality is rejecting the default and exploring whether a better option exists.
        %p.m-quotes__author
          Adam Grant,
          %a{:href => "http://amzn.to/2bVyRtL", :target => "_blank"} Originals
      %hr#learning.m-quotes__break
      .m-quotes__quote
        %p
          The best thing for being sad, replied Merlin, is to learn something.
        %p.m-quotes__author T.H. White
      %hr.m-quotes__break
      #burns.m-quotes__quote
        %p
          If a cat sits on a hot stove, that cat won't sit on a hot stove again. That cat won't sit on a cold stove either. That cat just don't like stoves.
        %p.m-quotes__author Mark Twain
      %hr#comparing.m-quotes__break
      .m-quotes__quote
        %p
          Each and every thing, each and every person, is totally unique. When we compare them to something else, we no longer see them for what they are.
        %p.m-quotes__author Andy Puddicombe, Headspace
      %hr#acceptance.m-quotes__break
      .m-quotes__quote
        %p
          Only when we allow others to be who they are, rather than what we want them to be, will we have peaceful relationships.
        %p.m-quotes__author Andy Puddicombe, Headspace
      %hr#perception.m-quotes__break
      .m-quotes__quote
        %p
          Our experience of life is based on our perception and our perception is based on the condition of our mind.
        %p.m-quotes__author Andy Puddicombe, Headspace
      %hr#amypoehler.m-quotes__break
      .m-quotes__quote
        %p
          When the demon starts to slither my way and say bad shit about me I turn around and say, "Hey. Cool it. Amy is my friend. Don't talk about her like that." Sticking up for ourselves in the same way we would one of our friends is a hard but satisfying thing to do.
        %p.m-quotes__author
          Amy Poehler,
          %a{:href => "http://amzn.to/2bJy8iR", :target => "_blank"} Yes Please
      %hr#kindness-willpower.m-quotes__break
      .m-quotes__quote
        %p
          When Muraven started exploring why students who had been treated kindly had more willpower he found that the key difference was the sense of control they had over their experience. "We've found this again and again," Muraven told me. "When people are asked to do something that takes self-control, if they think they're doing it for personal reasons - if they feel like it's a choice or something they enjoy because it helps someone else - it's much less taxing. If they feel like they have no autonomy, if they're just following orders, their willpower muscles get tired much faster. In both cases, people ignored the cookies. But when the students were treated like cogs, rather than people, it took a lot more willpower.
        %p.m-quotes__author
          Charles Duhigg,
          %a{:href => "http://amzn.to/2bAF1zE", :target => "_blank"} The Power of Habit
      %hr#freedom-from-parents.m-quotes__break
      .m-quotes__quote
        %p
          For years I believed that getting my mother to see it my way was my only hope. It took an awfully long time before I realised that whether or not she understood, I still could do as I pleased.
        %p.m-quotes__author Sheldon Kopp
      %hr#poverty.m-quotes__break
      .m-quotes__quote
        %p
          Poverty is an anomaly to rich people; it is very difficult to make out why people who want dinner do not ring the bell.
        %p.m-quotes__author Walter Bagehot
      %hr#feminism.m-quotes__break
      .m-quotes__quote
        %p
          I know a woman who hates domestic work, but she pretends that she likes it, because she has been taught that to be 'good wife material', she has to be - to use that Nigerian word - homely. And then she got married. And her husband's family began to complain that she had changed. Actually, she had not changed. She just got tired of pretending to be what she was not.
        %p.m-quotes__author
          Chimamanda Ngozi Adichie,
          %a{:href => "http://amzn.to/2brBJTp", :target => "_blank"} We Should All be Feminists
